{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "8.11.4"
          }
        }]
      ]
    },
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "8.11.4"
          }
        }]
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "8.11.4"
          },
          "modules": "commonjs"
        }]
      ]
    }
  }
}